.container {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-family: Karla, sans-serif;
}

#first-row {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.column-one-half {
  padding: 0;
}

#second-row {
  display: flex;
}

#third-row {
  display: flex;
}

.is-flex {
  display: flex;
}

img {
  width: 125px;
  height: 90px;
}

button {
  color: #ff5f5f;
  text-transform: uppercase;
  background-color: white;
  border-color: #ff5f5f;
  border-width: 1.5px;
  font-family: Karla, sans-serif;
  font-size: 12px;
  padding: 8px 35px;
}

.submitcontainer {
  display: flex;
  justify-content: center;
}

.heading-p {
  padding: 0 30px;
}
